---
title: moltinginstar / haiku
---
{% layout "page.liquid" %}

{% block head %}
<style>
  /* Force light mode */
  :root {
    color-scheme: only light;
    --color-background: var(--color-background-light);
    --color-text: var(--color-text-light);
    --color-text-muted: var(--color-text-muted-light);
    --color-accent: var(--color-accent-light);
    --color-surface: var(--color-surface-light);
  }

  html {
    overflow: hidden; /* Hide extra whitespace at the bottom created by horizontal scrollbars on mobile */
  }

  body {
    display: flex;
    align-items: stretch;
    overscroll-behavior: none;
    overflow: auto hidden;
    scroll-snap-type: inline mandatory;
    block-size: 100vh;
  }

  .page {
    flex: 0 0 100vw;
    overflow: hidden scroll;
    scroll-snap-align: start;
    padding: clamp(1rem, 4vw, 4rem);
    position: relative;
    box-sizing: border-box;
  }

  .page-background {
    position: absolute;
    inset-block-start: 0;
    inset-inline-start: 0;
    inline-size: 100%;
    block-size: 100%;
    object-fit: cover;
    pointer-events: none;
    -webkit-user-select: none;
    user-select: none;
    z-index: -1;
  }

  .haiku {
    display: flex;
    justify-content: space-between;
  }

  .haiku [lang="ja"] {
    writing-mode: vertical-rl;
  }

  .foreword {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background: linear-gradient(-45deg, #fff2e1, transparent);
  }

  .foreword p {
    max-inline-size: 40ch;
  }

  .foreword .date {
    color: var(--color-text-muted);
  }
</style>

<link rel="stylesheet" href="/styles/animate.css">
{% endblock %}

{% block body %}
<div class="page foreword">
  <p class="fade-in date" style="--i: 0">may 18, 2024</p>

  <p class="fade-in" style="--i: 1">
    recently, I’ve been reading a lot of haiku by the Japanese poet Matsuo
    Bashō. I’ve been inspired to write some of my own, in English and in
    Japanese.
  </p>

  <p class="fade-in" style="--i: 2">
    usually I’ll write the Japanese version first, then translate it into
    English, attempting to keep the same syllable count and the same general
    meaning.
  </p>

  <p class="fade-in" style="--i: 3">
    all the haiku I’ve written are inspired by the recent experiences I’ve had,
    the things I’ve seen and the emotions I’ve felt.
  </p>

  <p class="fade-in" style="--i: 4">
    some of them might therefore seem cryptic or nonsensical, but that’s the
    nature of haiku. (or at least that’s what I tell myself.)
  </p>

  <p class="fade-in" style="--i: 5">
    my Japanese is also, well, rather basic. it usually takes me an hour to find
    the right words (and grammar) for a single haiku, and 40 seconds to write
    the English version. maybe one day…
  </p>

  <p class="fade-in" style="--i: 6">
    anyway, here are some of my favorites. scroll to the right to see them.
  </p>
</div>

<div class="page haiku">
  <img
    class="page-background"
    loading="lazy"
    src="/images/dandelions.png"
    alt="dandelions"
  >

  <p lang="en">
    while the sun shines, the
    <br>
    dandelions will scatter—
    <br>
    a little magpie.
  </p>
  <p lang="ja">晴れながら蒲公英散らむ小鵲。</p>
</div>

<div class="page haiku">
  <img
    class="page-background"
    loading="lazy"
    src="/images/swifts.png"
    alt="swifts"
  >

  <p lang="en">
    O Mount Ararat—
    <br>
    the carefree airy ballet
    <br>
    of myriad swifts.
  </p>
  <p lang="ja">アララトや軽き翼のアマツバメ。</p>
</div>

<div class="page haiku">
  <img
    class="page-background"
    loading="lazy"
    src="/images/apricots.png"
    alt="apricots"
  >

  <p lang="en">
    dazzling white on green!
    <br>
    the apricots have blossomed
    <br>
    while the sky’s in tears.
  </p>
  <p lang="ja">白き木や杏花咲きけり雨の音。</p>
</div>

<div class="page haiku">
  <img
    class="page-background"
    loading="lazy"
    src="/images/canopies.png"
    alt="canopies"
  >

  <p lang="en">
    verdant canopies—
    <br>
    wishing I felt like working,
    <br>
    I taste <em>Katharsis</em>.
  </p>
  <p lang="ja">春なれど働く気せずカタルシス。</p>
</div>

<div class="page haiku">
  <img
    class="page-background"
    loading="lazy"
    src="/images/sea.png"
    alt="sea"
  >

  <p lang="en">
    mountains everywhere—
    <br>
    let’s plunge into the rough sea
    <br>
    that surrounds this world.
  </p>
  <p lang="ja">山々やこの世を囲む荒海へ。</p>
</div>

<div class="page haiku">
  <img
    class="page-background"
    loading="lazy"
    src="/images/morn.png"
    alt="morn"
  >

  <p lang="en">
    in the haze of morn,
    <br>
    a thinly veiled Ararat;
    <br>
    the swifts flutter on.
  </p>
  <p lang="ja">朧なるアララトへ飛ぶツバメかな。</p>
</div>

<div class="page haiku">
  <img
    class="page-background"
    loading="lazy"
    src="/images/sunshine.png"
    alt="sunshine"
  >

  <p lang="en">
    ah, Mount Ararat
    <br>
    and a warm ray of sunshine
    <br>
    that dries up my tears.
  </p>
  <p lang="ja">アララトや頬を乾かす日の光。</p>
</div>

<div class="page haiku">
  <img
    class="page-background"
    loading="lazy"
    src="/images/stars.png"
    alt="stars"
  >

  <p lang="en">
    is the azure sky
    <br>
    but a graveyard for those bright
    <br>
    scintillating stars…
  </p>
  <p lang="ja">青空は輝く星の墓場かな。</p>
</div>

<div class="page haiku">
  <img
    class="page-background"
    loading="lazy"
    src="/images/cat.png"
    alt="cat"
  >

  <p lang="en">
    in the light of day
    <br>
    the moon shows its battered face—
    <br>
    a shy cat cries out.
  </p>
  <p lang="ja">日の本に月の目つきや鳴く子猫。</p>
</div>

<div class="page haiku">
  <img
    class="page-background"
    loading="lazy"
    src="/images/kingfisher.png"
    alt="kingfisher"
  >

  <p lang="en">
    oh, the kingfisher—
    <br>
    it’s still spring, you idiot,
    <br>
    that’s the wrong <em>kigo</em>.
  </p>
  <p lang="ja">かわせみやまだ春だバカ季語合わん。</p>
</div>

<div class="page foreword">
  <p class="date">jul 25, 2024</p>

  <p>
    two months have passed since I last updated this page. frankly, I’ve been
    less inspired to write, but I’ve still managed to pen a few more haiku.
  </p>

  <p>
    this time there are fewer of them, and they’re also a skosh bit more
    personal (read: cryptic and nonsensical).
  </p>

  <p>
    in keeping with this general decline in quality, there’s even one that
    violates the widely revered 5-7-5 rule. can you spot it? I was so elated
    when I wrote it that I didn’t even notice until the next day.
  </p>

  <p>
    in general, you may have noticed that many of my haiku don’t have a
    <em>kigo</em>. that’s because I don’t know many of them, and I’m not very
    good at finding them.
  </p>

  <p>regardless, I hope you enjoy them. keep scrolling to see them.</p>
</div>

<div class="page haiku">
  <img
    class="page-background"
    loading="lazy"
    src="/images/flowerwall.png"
    alt="flowerwall"
  >

  <p lang="en">
    a cat hides her face
    <br>
    behind a wall of flowers;
    <br>
    beyond it—nothing.
  </p>
  <p lang="ja">花に猫顔隠れけり風も無し。</p>
</div>

<div class="page haiku">
  <img
    class="page-background"
    loading="lazy"
    src="/images/fish.png"
    alt="fish"
  >

  <p lang="en">
    last night I dreamt of
    <br>
    fish swimming untroubled in
    <br>
    pellucid waters.
  </p>
  <p lang="ja">夢を見き清き水にて遊ぶ魚。</p>
</div>

<div class="page haiku">
  <img
    class="page-background"
    loading="lazy"
    src="/images/mulberries.png"
    alt="mulberries"
  >

  <p lang="en">
    amidst spring showers,
    <br>
    the soughing of the gale through
    <br>
    swaying mulberries.
  </p>
  <p lang="ja">五月雨に揺るる桑の木のうねりかな。</p>
</div>

<div class="page haiku">
  <img
    class="page-background"
    loading="lazy"
    src="/images/rainstorms.png"
    alt="rainstorms"
  >

  <p lang="en">
    a hot summer’s day;
    <br>
    the specter of June rainstorms
    <br>
    grows dearer to me.
  </p>
  <p lang="ja">夏の日や五月雨もう待ち遠し。</p>
</div>

<div class="page haiku">
  <img
    class="page-background"
    loading="lazy"
    src="/images/desk.png"
    alt="desk"
  >

  <p lang="en">
    the tiny flowers
    <br>
    on my desk have now withered
    <br>
    in the summer heat.
  </p>
  <p lang="ja">我が部屋の花は枯れけり夏の昼。</p>
</div>
{% endblock %}
